.container {
  max-height: 100vw;
  overflow-y: hidden;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.toastMessage {
  width: 300px;
  height: 70px;
  margin-bottom: 10px;
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.info {
  background-color: blue;
  color: white;
}

.warning {
  background-color: yellow;
  color: black;
}
